@using LibrarySystem.Models

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - LibrarySystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LibrarySystem.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand">LibrarySystem</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-lg-4" style="margin-left:auto; margin-right:auto;">
                    <Lib:Form id="LoginForm" submit-tag="Login" controller="Account" action="Login">
                        <Lib:Textbox
                            id="UserName"
                            label="UserName"
                            type="text"
                            value="@Model.userCredentials.UserName"
                            placeholder="Enter UserName">
                        </Lib:Textbox>
                        <Lib:Textbox
                            id="Password"
                            label="Password"
                            type="password"
                            value="@Model.userCredentials.Password"
                            placeholder="Enter Password">
                        </Lib:Textbox>
                    </Lib:Form>
                    @if (Model.Errors != null && Model.Errors.Count > 0)
                    {
                        <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            @string.Join(",", Model.Errors)
                        </div>
                    }
                    
                </div>
            </div>
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
